.mb-3 {
    width: 75%;
    margin: 5% 10%;
}

.btn-width {
    width: 100%;
}

.float-card {
    float: left;
}

.card {
    display: inline-block !important;
}

.float-card-body {
    float: left;
    width: 73%;
}

.comments {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 20px;
    margin: 0 10%;
    width: 75%;
}


